.idea
.env
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitignore
!var/logs/.gitignore
!var/sessions/.gitignore
/bin/*
!bin/console
/vendor/
/phpunit.xml
.phpunit.result.cache
/html-coverage/
/composer.phar
/.web-server-pid
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.AppleDouble
.LSOverride
